/* Cores:
	1 - #393e46; 
    2 - #5c636e; 
	3 - #f8b500; 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/trash.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #393e46;
}

/* Div Topo */

.divTopo{
    background-color: #5c636e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    margin-bottom: 20px;
}

.nameText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
}

.divUser{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
}

/* div Container Funcionalidades */

.divContainerFuncionalidades{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.divContainerFuncionalidades > button{
    background-color: #f8b500;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    margin: 1rem 0px 1rem 1rem;
    width: 35vw;
    height: 45px;
}

input:focus {
    border-color: #393e46;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f8b500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ca9400;
}

.divContainerSearchProducts{
    display: flex;
    align-items: center;
    height: 45px;
}

#searchBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}


/* LISTAGEM PRODUTOS */

ul{
    list-style-type: none;
}

.divListagemProdutos{
    background-color: #5c636e;
    border-radius: 10px;
    width: 97vw;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #393e46;
}

.divListagemProdutos:hover{
    border-color: #f8b500;
}

#listaProdutos{
    width: 100vw;
    padding: 0;
}

.divTitulos{
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 2fr 1fr  1fr;
    background-color: #f8b500;
    padding: 10px;
    border-radius: 10px;
}

li{
    padding: 10px;
    list-style-type: none;
}

.cardProduto{
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 2fr 1fr 1fr;
    padding: 10px;
}

.conteinerBtnExcluir{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 5px;
    margin: 0px 10px;   
}

#nDeletaNaLimparListagem{
    width: 100vw;
}

