/* Cores:
	1 - #393e46; 
    2 - #5c636e; 
	3 - #f8b500; 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #393e46;
}

/* Div Topo */

.divTopo{
    background-color: #5c636e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    margin-bottom: 50px;
}

.nameText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
}

.divUser{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
}

/* Div Cadastro Produto */

.DivCadastroProduto{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 96vw;
    height: 80vh;
    margin: auto;
    background-color: #5c636e;
    border-radius: 10px;   
}

.DivCadastroProduto > h1{
    display: flex;
    margin: 10px 10px 30px 10px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    margin: 1rem;
    width: 50vw;
}

input:focus {
    border-color: #393e46;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f8b500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ca9400;
}

.linha {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin: 20px;
}